/* NAV */
.Nav {
  position: sticky;
  top: 0;
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;

  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-top: 4vh;
}

.menuIcon {
  z-index: 2;
  display: none;
}

.menuIcon div {
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 1px;
}

.menuIcon:hover div {
  background: #707070;
  transition: background 200ms ease-in;
}

.Nav .logo {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.1em;
  color: white;
  font-weight: bold;
}

.Nav .logo {
  cursor: pointer;
}

.Nav .locations {
  text-decoration: none;
  z-index: 2;
}

.Nav .locations span {
  font-size: 1em;
  margin-left: 2.8em;
  text-transform: uppercase;
  transition: color 200ms ease-in;
}

.Nav .locations span:hover {
  cursor: pointer;
  color: #707070;
  transition: color 200ms ease-in;
}

@media (max-width: 1300px) {
  .Nav .locations span {
    font-size: 0.9em;
    margin-left: 2.5em;
  }

  .Nav .logo {
    font-size: 1em;
  }
}

/* HOME */
.Home {
  grid-column-start: 2;
  display: flex;
  height: 80vh;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Home .home-text,
.Home .home-image {
  flex: 1;
  align-self: center;
}

.Home .home-text .home-title {
  color: white;
  font-weight: bold;
  font-size: 2em;
  line-height: 130%;
}

.Home .home-text p {
  color: white;
  margin-top: 1.4em;
  line-height: 120%;
}

.home-image img {
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 1500px) {
  .home-image img {
    width: 70%;
    margin-right: 10%;
  }
}

@media (max-width: 1350px) {
  .home-image img {
    width: 60%;
    margin-right: 10%;
  }

  .Home .home-text .home-title {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 130%;
  }
}

@media (max-width: 900px) {
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Home .home-image {
    order: 1;
    display: flex;
    flex: 2;
    justify-content: center;
  }

  .home-image img {
    float: none;
    margin: 0;
    width: 70%;
  }

  .Home .home-text {
    order: 2;
    flex: 0.5;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
  }

  .Home .home-text .home-title {
    font-size: 1.6em;
  }
}

@media (max-width: 900px) {
  .Home .home-text .home-title {
    font-size: 1.4em;
  }
}

@media (max-width: 450px) {
  .Home .home-text .home-title {
    font-size: 1.2em;
  }

  .Home .home-text p {
    font-size: 0.9em;
  }

  .Home .home-image {
    flex: 1.5;
  }

  .Home .home-text {
    flex: 0.5;
  }
}

@media (max-width: 400px) {
  .Home .home-image {
    flex: 1;
  }

  .Home .home-text {
    flex: 0.5;
  }
}

/* FEATURES */
.Features {
  grid-column-start: 2;
  display: flex;
  margin-top: 15vh;
  padding-bottom: 2.5em;
}

.features-resp-title {
  display: none;
}

.Features .first-col {
  flex: 2;
  margin-top: 2.5em;
}

.Features .second-col {
  position: relative;
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Features .third-col {
  flex: 2;
  margin-top: 2.5em;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.feature-container .feature-right-align {
  text-align: right;
  /* margin-right: 2em; */
}

.feature-container .feature-left-align {
  text-align: left;
  /* margin-left: 2em; */
}

.feature-container div span {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  color: #707070;
  font-weight: 350;
  font-size: 1.6em;
}

.feature-container div p {
  color: #707070;
  margin-top: 3em;
}

.feature-container img {
  align-self: flex-start;
  /* margin-top: 0px; */
}

.second-col .features-title {
  position: absolute;
  top: 2em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bold;
  color: #707070;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  margin-bottom: 50%;
}

@media (max-width: 1700px) {
  .feature-container div span {
    font-size: 1.4em;
  }

  .feature-container div p {
    margin-top: 2.5em;
  }

  .feature-container img {
    align-self: flex-start;
    width: 28%;
  }

  .Features .second-col img {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .feature-container div span {
    font-size: 1.2em;
  }

  .second-col .features-title {
    font-size: 1.6em;
  }

  .feature-container div p {
    font-size: 0.9em;
    margin-top: 1.8em;
  }

  .feature-container img {
    margin-right: 10px;
  }

  .Features .second-col img {
    width: 50%;
  }
}

@media (max-width: 810px) {
  .Features {
    display: flex;
    flex-direction: column;
  }
  .features-resp-title {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
      Helvetica Neue, Arial, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
    align-self: center;
    color: #707070;
    margin-top: 2em;
  }

  .feature-container {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-container img {
    order: 1;
    align-self: center;
    margin-top: 2em;
    margin-right: 0px;
    margin-bottom: 1em;
  }

  .feature-container div {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-container div span {
    text-align: center;
  }

  .feature-container div p {
    text-align: center;
  }

  .Features .second-col {
    display: none;
  }
}

@media (max-width: 600px) {
  .feature-container img {
    width: 40%;
  }
}

/* PLATFORM */
.Platform {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url("../assets/background1.svg");
  background-repeat: no-repeat;
}

.platform-container {
  left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.platform-container span {
  margin-top: 2em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
}

.platform-container img {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 90%;
}

@media (max-width: 600px) {
  .platform-container img {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
  }

  .platform-container span {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .platform-container img {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 95%;
  }
}

/* SCREENSHOT */
.Screenshot {
  grid-column-start: 2;
}

.Screenshot .title {
  margin-top: 2em;
  text-transform: uppercase;
  color: #707070;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  text-align: center;
  display: block;
}

.Screenshot .screenshot-slide {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.screenshot-slide span {
  flex-basis: 24.5%;
  height: 700px;
  background: linear-gradient(
    180deg,
    rgba(27, 179, 236, 1) 0%,
    rgba(9, 9, 121, 1) 100%,
    rgba(92, 105, 227, 1) 100%
  );
}

@media (max-width: 800px) {
  .Screenshot .screenshot-slide {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5em;
  }
}

/* DOWNLOAD */
.Download {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url("../assets/background2.svg");
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Download .title {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2em;
}

.link-container {
  display: flex;
  margin-top: 6em;
  width: 40%;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link span {
  color: white;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 1.6em;
  margin-top: 1em;
}

@media (max-width: 1400px) {
  .link-container {
    margin-top: 6em;
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .link img {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .link-container {
    margin-top: 6em;
    width: 70%;
  }

  .link span {
    font-size: 1.4em;
  }
}

@media (max-width: 800px) {
  .link img {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .link img {
    width: 60%;
  }

  .link span {
    font-size: 1.2em;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
  }

  .link img {
    width: 20%;
    margin-top: 2.5em;
  }
}

@media (max-width: 500px) {
  .link img {
    width: 30%;
    margin-top: 2.5em;
  }
}

@media (max-width: 400px) {
  .link img {
    width: 40%;
    margin-top: 3em;
  }
}
