.App {
  display: grid;
  grid-template-columns: 0.5fr 8fr 0.5fr;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .App {
    display: grid;
    grid-template-columns: 0.2fr 8fr 0.2fr;
  }
}

.topBackground {
  position: absolute;
  left: 0;
  width: auto;
  max-width: 100vw;
  z-index: 1;
}

.platform-background {
  position: relative;
  left: 0;
}
